$light-dark-gray: #1D2229;
$dark-gray: #1D2229;
$darker-gray: #171b21;
$lightest-gray: #b6bbc4;
$lighter-gray: #868c95;
$light-gray: #424953;
$gray: #303640;

$blue: #00c0ff;
$connus-blue: #00adee;
$green: #1EF3A2;
$yellow: #D2B82B;
$orange: #da7a16;
$red: #CB373E;
$violet: #90279B;
