$white: #fff;

$light-dark-gray: #1d2229;
$dark-gray: #1d2229;
$darker-gray: #171b21;
$lightest-gray: #b6bbc4;
$lighter-gray: #868c95;
$light-gray: #424953;
$gray: #303640;

$blue: #00c0ff;
$connus-blue: #00adee;
$green: #1ef3a2;
$yellow: #d2b82b;
$orange: #da7a16;
$red: #cb373e;
$vivid-red: #cd151d;
$violet: #90279b;
