// Custom normalize
@import "./normalize.scss";
@import "./colors.scss";

html, body, #root, #app {
  width: 100%;
  height: 100%;
}

/*
  GLOBALS
 */

.inline-nav {
  display: flex;
  li {
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.85rem;
    padding-bottom: 7px;
    padding-right: 4px;
    padding-left: 4px;
    opacity: 0.5;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      opacity: 1;
      color: $blue;
      border-bottom: 2px solid $blue;
    }
  }
}


.app-content {
  padding-top: 58px;
  background-color: $dark-gray;
  .overall-container {
    background-color: $dark-gray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .content {
    padding: 20px;
    background-color: $gray;
    padding-top: 70px;
    flex: 1;
  }
}

.table {
  position: relative;
  width: 100%;
  .table-header {
    position: absolute;
    width: 100%;
    font-weight: 500;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
  .table-body {
    padding-top: 45px;
  }
  .table-item {
    display: flex;
    height: 45px;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray;
    align-items: center;
    > div {
      flex-basis: 200px;
      &.medium {
        flex-basis: 400px;
      }
      &.large {
        flex-basis: 600px;
      }
    }
  }
}

/*
  NAVIGATOR
 */

.navigator {
  background-color: $dark-gray;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 58px;
  > ul {
    display: flex;
    padding: 20px;
    &.user-container {
      color: rgba(#ffffff, 0.5)
    }
    li {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 500;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
      a {
        opacity: 0.5;
        &:hover {
          opacity: 0.2;
        }
        &.active, &:active {
          opacity: 1;
        }
      }
    }
  }
}


/*
  DASHBOARD
 */

.dashboard {
  color: white;
  .overall-container {
    .graph-container {
      display: flex;
      position: relative;
      .stats {
        display: flex;
        p {
          margin-top: 20px;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .graph {
        width: 170px;
        height: 0px;
        margin-right: 40px;
        position: relative;
        .recharts-wrapper {
          position: absolute;
          top: -30px;
        }
      }
    }
    .historical {
      height: 100px;
      background-color: $gray;
      width: 400px;
      opacity: 0.3;
    }
  }
}


@media screen and (min-width: 800px) {
  .app-content {
    .content {
      padding-right: 50px;
      padding-left: 50px;
    }
  }
  /*
    NAVIGATOR
   */

  .navigator {
    > ul {
      display: flex;
      padding: 20px 50px;
    }
  }

  /*
    DASHBOARD
   */

  .dashboard {

  }
}
