// Custom normalize
@import "./normalize.scss";
@import "./colors.scss";

html, body, #root, #app {
  width: 100%;
  height: 100%;
}

/*
  GLOBALS
 */

.inline-nav {
  display: flex;
  color: $lightest-gray;
  margin-bottom: 30px;
  li {
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.85rem;
    padding-bottom: 7px;
    padding-right: 4px;
    padding-left: 4px;
    opacity: 0.5;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      opacity: 1;
      color: $blue;
      border-bottom: 2px solid $blue;
    }
  }
}

button, input, .button {
  color: white;
  font-size: 1rem;
  border: 1px solid $lighter-gray;
  padding: 3px 10px;
  display: inline-block;
  background-color: $gray;
}
button, input[type="button"], .button {
  padding: 3px 30px;
  text-transform: uppercase;
  color: $lighter-gray;
  font-size: 0.85rem;
  font-weight: 600;
}

label {
  font-weight: 600;
  font-size: 0.8rem;
  color: $lighter-gray;
  text-transform: uppercase;
}

p span {
  font-weight: 600;
}

.actions-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-height: 25px;
}

.app-content {
  padding-top: 58px;
  background-color: $dark-gray;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .overall-container {
    background-color: $dark-gray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .content {
    padding: 20px;
    background-color: $gray;
    padding-top: 70px;
    flex: 1;
    &.vertical {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

.table {
  position: relative;
  width: 100%;
  .table-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    input {
      margin-right: 15px;
    }
  }
  .table-header {
    position: absolute;
    width: 100%;
    font-weight: 500;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $lighter-gray;
  }
  .table-body {
    padding-top: 45px;
    color: white;
  }
  .table-item {
    display: flex;
    height: 45px;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray;
    align-items: center;
    > div {
      flex-basis: 200px;
      &.bold {
        font-weight: 600;
        color: white;
      }
      &.medium {
        flex-basis: 400px;
      }
      &.large {
        flex-basis: 600px;
        color: white;
        font-weight: 600;
      }
    }
  }
}

/*
  NAVIGATOR
 */

.navigator, ul.mini-nav {
  background-color: $dark-gray;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 58px;
  z-index: 1000;
  > ul {
    display: flex;
    padding: 20px;
    &.user-container {
      color: $lighter-gray;
      display: flex;
      align-items: center;
      li {
        text-transform: capitalize;
      }
      li a.active {
        color: white;
      }
      img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: white;
      }
      .date span {
        width: 70px;
        font-kerning: none;
        display: inline-block;
      }
    }
  }

  > ul li, li {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: $blue;
    }
    a {
      opacity: 0.5;
      &:hover {
        opacity: 0.2;
      }
      &.active, &:active {
        opacity: 1;
      }
    }
  }
}
ul.mini-nav {
  position: relative;
  width: auto;
  height: auto;
  background-color: transparent;
  color: $lighter-gray;
  &.vertical {
    flex-direction: column;
    width: auto;
    align-items: flex-end;
    justify-content: flex-start;
    li {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  li {
    font-size: 0.85rem;
  }
}


/*
  DASHBOARD
 */

.dashboard {
  color: white;
  .overall-container {
    .graph-container {
      display: flex;
      position: relative;
      .stats {
        display: flex;
        p {
          margin-top: 20px;
          margin-right: 10px;
          span {
            margin-right: 5px;
            margin-left: 10px;
          }
          &:first-child span {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          &:nth-child(1) span {
            color: $green;
          }
          &:nth-child(2) span {
            color: $yellow;
          }
          &:nth-child(3) span {
            color: $red;
          }
        }
      }
      .graph {
        width: 170px;
        height: 0px;
        margin-right: 40px;
        position: relative;
        .recharts-wrapper {
          position: absolute;
          top: -30px;
        }
      }
    }
    .historical {
      height: 150px;
      // background-color: $gray;
      width: 500px;
      margin-bottom: -20px;
    }
  }
}


/*
  SETTINGS
 */


.settings {
  .content {
    display: flex;
  }
  form, .mini-nav {
    min-height: 400px;
  }
  form {
    flex-basis: 600px;
    border-left: 1px solid $light-gray;
    padding-left: 30px;
    .field {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      input {
        flex-grow: 1;
      }
      label {
        margin-right: 10px;
        width: 100px;
        text-align: right;
        display: inline-block;
        font-size: 0.7rem;
      }
    }
    span.rule {
      margin-left: 110px;
      margin-bottom: 10px;
      margin-top: 20px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: .67rem;
      color: $lighter-gray;
      display: inline-block;
    }
  }
  .mini-nav {
    margin-right: 50px;
  }
}


 /*
   USERS
  */

.users {
  .table {
    .zone {
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      &:hover {
        padding-bottom: 3px;
        border-bottom: 2px solid $blue;
        position: relative;
        &::after {
          display: block;
          content: 'MODIFICAR';
          font-size: 0.75rem;
          font-weight: 600;
          bottom: 24px;
          left: 4px;
          background-color: $blue;
          box-shadow: 0px 0px 5px rgba(#000, 0.2);
          padding: 3px 10px;
          position: absolute;
        }
        &::before {
          content: '';
          display: block;
          width: 15px;
          height: 15px;
          background-color: $blue;
          position: absolute;
          transform: rotate(45deg);
          bottom: 20px;
          left: 38px;
        }
      }
    }
  }
}

/*
  SERVICES
 */

.services {
  .mini-nav {
    padding: 40px 0px 20px;
  }
}


@media screen and (min-width: 800px) {
  .app-content {
    .content {
      padding-right: 50px;
      padding-left: 50px;
    }
    .overall-container {
      padding: 20px 40px;
    }
  }
  /*
    NAVIGATOR
   */

  .navigator {
    > ul {
      display: flex;
      padding: 20px 50px;
    }
  }

  /*
    DASHBOARD
   */

  .dashboard {

  }


  /*
    SERVICES
   */

  .services {
    .mini-nav {
      padding: 40px 30px 20px;
    }
  }
}
